# WarEra API — opcjonalny klucz (tryb anonimowy działa bez niego, limit 100/okno)
# Wpisz swój klucz, aby podnieść limity zapytań.
WARERA_API_KEY=

# Bazowy URL API WarEra (domyślnie: https://api2.warera.io/trpc)
WARERA_BASE_URL=https://api2.warera.io/trpc

# Encje docelowe (opcjonalnie — domyślnie rozwiązywane przez wyszukiwanie po nazwie)
# The Federation
WARERA_ALLIANCE_NAME=The Federation
# WARERA_ALLIANCE_ID=6a29697ef0f195d344d6869c

# Justice
WARERA_NAME=Justice
# WARERA_MU_ID=698ca55790b70ac76de933c5
